/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.player ul {
  list-style: none;
  word-wrap: break-word;
}

.playerMessage {
  list-style:none;
  word-wrap: break-word;
  margin: 0;
  margin-bottom: 1px;
}
 /* Dashboard section */

.dashboard {
  width: 75%;
  overflow: visible;
}



.playerArea {
  background-color: #82828D;
  height: 95vh;
  padding: 2.5%;
  padding-top: 0;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* align-items: center;  centers the height of the boxes*/

}

.player {
  display:flex;
  /* border: 5px, solid, black;  this border isn't set up correctly*/
  width: 40%;
  text-align: center;
  margin:2.5%;
  flex-direction: column;
  align-content: center;
  border-radius: 25px;
}

.playerholder{
  width:90%;
  height:90%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.player-area-header{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nickname {
  color:white;
  font-size: 4em;
  font-weight: 700;
  margin-left: 15px;
}

.player-area-buttons{
  display: flex;
  justify-content: space-between;
}

.add-subtract{
  color: white;
  margin: 15px 15px 0px 0px;

}

.add-subtract:hover{
  cursor: pointer;
  color: #CDCDD4
}

.delete {
color: white;
margin: 15px 10px 0px 0px;

}

.delete:hover {
  cursor: pointer;
  color: #CDCDD4
  }

.input-holder {
  display: flex;
  margin: auto;
  }


::placeholder{
  color:white;
}

.score {
  margin:auto;
  width: 90%;
  text-align:center;
  font-weight: 600;
  color: white;
  outline: none;
  border: 2px solid white;
  font-size: 5em;
}



/* Pages */

.pages {
  display:flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  /* overflow: hidden; */
}

/* Login Page */

.login.page {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 10;
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -170px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.form2 {
  height: 100px;
  margin-top: -70px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}


.form3 {
  height: 100px;
  margin-top: 40px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}



.loginInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}



.login.page .title {
  font-size: 200%;
  display: block;
}

.login.page .loginInput {
  font-size: 180%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .loginInput {
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  float: left;
  width: 25%;
  height: 100vh;
}


/* Font */



.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.spanMessage {
  font-weight: 600;
}

.serverMessage {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.messageList {
  padding: 0;
  margin: 0;
}

.chatArea {
  height: 100%;
  padding-bottom: 60px;
  border: 8px solid #1A1A1D;
  background-color: #CDCDD4;
}

.messages {
  margin: 0;
  width: 100%;
  padding: 0px 10px 0px 10px;
  font-size: 150%;
  float: left;
  overflow-y: scroll;
  word-break: break-word;
  height: 95%;
  padding-bottom: 40px;
  margin: 0;
}

.message.typing .messageBody {
  color: grey;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */


.messageInput .inputMessage {
  border: 8px solid #1A1A1D;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  right: 0;
  position: fixed;
  width: 25%;
  background-color: #4E4E50;
  color: white;
  font-weight: 600;

}

.messageInput:focus {
  color: white;
}


  .hidden {
    display: none;
  }

/* menu bar  */
.menubar {
  overflow: hidden;
  background-color: #1A1A1D;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom:5px;
  height: 5vh;
  padding: 0px;
}

.menubar input{
  font-size: 1em;
  text-align: center;
  width: 150px;
  font-weight:bold;
  color: white;
  background-color: #4E4E50;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.menubar *{
  height: 100%;
  align-items: center;
} 

.hp {
  padding: 0px;
  margin: 0px;
  border: 0px;
  float: left;
}

.buttons {
  border: 0px;
  padding: 0px;
  margin: 0px;
  width: 35%;
  display: flex;
  justify-content: space-between;
}

.button{
  border: 0px;
  padding: 5px;
  margin: 0px;
  font-weight:bold;
  font-size: 1em;
  width: 100%;
  text-align: center; 

}

.showDie{
  background-color: #6F2232;
}

.showDie:hover {
  background-color: #6C343F;
  cursor: pointer;
}

.flipCoin{
  background-color: #950740;
}

.flipCoin:hover{
  background-color: #904161;
  cursor: pointer;

}

.chooser{
  background-color: #C3073F;
}

.chooser:hover{
  background-color: #BF466A;
  cursor: pointer;

}

.roomName {
  background-color: #82828D;
  text-align: center;
  font-weight: 700;
  width:100%;
  padding-bottom: 5px;
}

