/* Fix user-agent */

/*
master style guide
colors: 
  #121212 black
  #181818 shadow grey
  #282828 dark grey
  #404040 grey
  #b3b3b3 light grey
  #ffffff white
*/


* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #3e423d;

}

.player ul {
  list-style: none;
  word-wrap: break-word;
}

.playerMessage {
  list-style:none;
  word-wrap: break-word;
  margin: 0;
  margin-bottom: 1px;
}
 /* Dashboard section */

.dashboard {
  width: 75%;
  overflow: visible;
}



.playerArea {
  background-color: #282828;
  height: 95vh;
  padding: 2.5%;
  padding-top: 0;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center;  centers the height of the boxes*/

}

.playerAreaSpacing{
  justify-content: space-evenly;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.playerAreaSpacing::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.playerAreaSpacing {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.player {
  display:flex;
  /* border: 5px, solid, black;  this border isn't set up correctly*/
  width: 40%;
  text-align: center;
  margin: 2.5%;
  flex-direction: column;
  align-content: center;
  border-radius: 25px;
}

.player2 {
  display:flex;
  /* border: 5px, solid, black;  this border isn't set up correctly*/
  width: 40%;
  text-align: center;
  flex-basis: 20%;
  margin:2.5%;
  flex-direction: column;
  align-content: center;
  border-radius: 25px;
  margin: 5px 0px 5px 0px;
}

.playerholder{
  width:90%;
  height:90%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

  .player-area-header{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nickname {
  color:white;
  padding-left: 25%;
  margin: auto;
  font-size: 2vw;
  font-weight: 700;
}



.player-area-buttons{
  display: flex;
  justify-content: space-between;
}

.add-subtract{
  color: white;
  margin: 15px 0px 0px 10px;

}

.add-subtract:hover{
  cursor: pointer;
  color: #CDCDD4
}

.no-press{
  cursor: not-allowed;
  color: #CDCDD4;
}

.delete {
color: white;
margin: 15px 10px 0px 10px;

}

.delete:hover {
  cursor: pointer;
  color: #CDCDD4
  }

.input-holder {
  display: flex;
  margin: auto;
  }


::placeholder{
  color:white;
}

.player-area-body{
  margin: auto;
  display: flex;
  flex-direction: column;
}

.player-area-body2{
  margin: auto;
  display: flex;
  flex-direction: row;
}

.player-area-body3{
  margin: auto;
  display: flex;
  flex-direction: column;
}

.points {
  width: 90%;
  text-align:center;
  font-weight: 600;
  color: white;
  outline: none;
  border: 2px solid white;
}

.points-font-small{
  font-size: 3vh;
}

.points-font-medium{
  font-size: 5vh;
}

.points-font-large{
  font-size: 8vh;
}


.points-title{
  left: 0px;
  width: 90%;
  text-align: center;
  color: white;
  border: 2px solid white;
  border-bottom: none;
  font-weight: 600;

}

.points-title-font-medium{
  font-size: 2vh;
}

.points-title-font-large{
  font-size: 2vw;
}



/* Pages */

.pages {
  display:flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden; 
}

/* Login Page */

.login.page{
  background-image: url("../assets/forgedbyfire.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  background-color: #541d19;
  color: #fff;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}


.loginform {
  text-align: center;
  width: 100%;
}

.login-container{
    background-color: #140c0cc6;
    padding-bottom: 5vh;
    border: 5px none;
    border-radius: 25px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 0px 40px 5px #992b23;
}

.login-info{
  right: 0px;
  top: 0px;
  position: absolute;
  margin: 15px 15px 0px 0px;
}

.loginInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
  color: white;
}

.login-button{
  color: white;
  background-color: black;
  border: solid white 2px;
  width: 7vw;
  height: 5vh;
  font-size: 1vw;
  text-align: center;
}

button.login-button:hover{
  color: black;
  background-color: white;
  cursor: pointer;
}

.login-info:hover{
  cursor:pointer;
}


.reconnection:hover {
  cursor: pointer;
}



.form2 {
  height: 100px;
  margin-top: -70px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}


.form3 {
  height: 100px;
  margin-top: 40px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}



.title{
  font-size: 2vw;
}

.loginInput {
  font-size: 1.5vw;
  letter-spacing: 3px;
}

/* Chat page */

.chat.page {
  float: left;
  width: 25%;
  height: 100vh;
}

.chatArea button{
  color: aliceblue;
}

/* Font */



.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.spanMessage {
  font-weight: 600;
}

.serverMessage {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.messageList {
  padding: 0;
  margin: 0;
}

.chatArea {
  height: 100%;
  border-right: 5px solid #1A1A1D;
  border-left: 5px solid #1A1A1D;
  border-bottom: 5px solid #1A1A1D;
}

.chat-toolbar {
  display: flex;
  background-color: #1A1A1D;
  color: white;
  text-align: center;
  font-weight: 700;
  width:100%;
}

.chatDisplay {
  height: 94%;
  padding-bottom: 60px;
  background-color: #b3b3b3;
  overflow-y: scroll;
}

.messages {
  width: 100%;
  padding: 0px 10px 0px 10px;
  font-size: 150%;
  float: left;
  word-break: break-word;
  padding-bottom: 40px;
  overflow-y:scroll
}

::-webkit-scrollbar {
  display: none;
}

/* .messages::-webkit-scrollbar {
  display: none; 
}*/

/* Hide scrollbar for IE, Edge and Firefox */
.messages {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.message.typing .messageBody {
  color: grey;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */
.messageInput .inputMessage {
  border: 5px solid #1A1A1D;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  right: 0;
  position: fixed;
  width: 25%;
  background-color: #181818;
  color: white;
  font-weight: 600;

}

.messageInput:focus {
  color: white;
}


.hidden {
  display: none;
}

/* menu bar  */
.menubar {
  overflow: hidden;
  background-color: #181818;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 5vh;
  padding: 0px;
}

.menubar input{
  font-size: 1em;
  text-align: center;
  width: 150px;
  font-weight:bold;
  color: F7F9FB;
  background-color: #404040;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.menubar *{
  height: 100%;
  align-items: center;
  color: #F7F9FB;
} 

.hp {
  padding: 0px;
  margin: 0px;
  border: 0px;
  float: left;
}

.buttons {
  border: 0px;
  padding: 0px;
  margin: 0px;
  width: 35%;
  display: flex;
  justify-content: space-between;
}

.button{
  border: 0px;
  padding: 5px;
  margin: 0px;
  font-weight:bold;
  font-size: 1em;
  width: 100%;
  text-align: center; 
  background-color: #404040;
}

.second-button{
  padding: 5px;
  margin: 5px;
  font-weight:bold;
  font-size: 1em;
  text-align: center; 
  background-color: #687864;
}

.second-button-unavailable{
  color: #B1BAB0;
  padding: 5px;
  font-weight:bold;
  font-size: 1em;
  text-align: center; 
  background-color: #B1BAB0;
  margin:5px;
  cursor: not-allowed;
}

.button:hover{
  background-color: #8FC1E3;
  cursor: pointer;
}

.roomName {
  text-align: center;
  font-weight: 700;
  width:80%;

}

.button-box {
  display:flex;
  flex-direction:column
}

.button-box .button{
  height: 100%;
}


