 /* Dice Roll*/
 #view{
    width:200px;
    height:200px;
    margin:100px;
    perspective:600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    #dice{
    width:200px;
    height:200px;
    position:relative;
    transform-style:preserve-3d;
    transition: transform 1s;
    }
    #btnFront:checked ~ #view>#dice{
    transform:rotateY(360deg) !important;
    }
    #btnRight:checked ~ #view>#dice{
    transform:rotateY(-90deg) !important;
    }
    #btnBack:checked ~ #view>#dice{
    transform:rotateY(180deg) !important;
    }
    #btnLeft:checked ~ #view>#dice{
    transform:rotateY(90deg) !important;
    }
    #btnTop:checked ~ #view>#dice{
    transform:rotateX(-90deg) !important;
    }
    #btnBottom:checked ~ #view>#dice{
    transform:rotateX(90deg) !important;
    }
    .diceFace{
    position:absolute;
    width:200px;
    height:200px;
    text-align:center;
    line-height:200px;
    font-size:45px;
    border:2px solid rgb(0, 0, 0);
    overflow: hidden;
    }
    #front{
    background-color:rgba(255,0,0,0.6);
    transform:rotateY(0deg) translateZ(100px);
    }
    #right{
    background-color:rgba(0,255,0,0.6);
    transform:rotateY(90deg) translateZ(100px);
    }
    #back{
    background-color:rgba(255,255,0,0.6);
    transform:rotateY(180deg) translateZ(100px);
    }
    #left{
    background-color:rgba(255,0,255,0.6);
    transform:rotateY(-90deg) translateZ(100px);
    }
    #top{
    background-color:rgba(0,255,255,0.6);
    transform:rotateX(90deg) translateZ(100px);
    }
    #bottom{
    background-color:rgba(0,0,255,0.6);
    transform:rotateX(-90deg) translateZ(100px);
    }
 
    /*
span{
    display:inline-block;
    padding:4px 10px;
    margin:3px;
    background-color:#0aa;
    border:2px inset #dd0
    }
    */
    
    #test:checked + #test2{
    display:block;
    width:80px;
    background-color:#0aa;
    }
    input[type="radio"]{
    transform:scale(2,2);
    margin:10px;
    color:red;
    }

    /* The Close Button */
.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: grey;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* picture of dice on UI */
  .dicePicture{
    max-width: 100%;
    max-height: 100%;
  }

  /* hides radio buttons */

  .radio {
      display: none;
  }